@model PO_projekt_implementacja_Puz.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecruitmentIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecruitmentIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatusFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatusFkNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateFkNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentFkNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighSchoolDiplomaFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighSchoolDiplomaFkNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecruitmentFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecruitmentFkNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
