@model PO_projekt_implementacja_Puz.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecruitmentIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecruitmentIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatus.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighSchoolDiploma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighSchoolDiploma.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recruitment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recruitment.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
