@model PO_projekt_implementacja_Puz.Models.Application

@{
    ViewData["Title"] = "Details";
    var appDocument = Model.Document;
    var candidate = Model.Candidate;
    var recruitment = Model.Recruitment;

}


<table>
    <tr>
        <td>
            <img class="medium_icon" src="~/images/pwr_logo.png">
        </td>
        <td>
            <h2>Szczegóły podania</h2>
        </td>
    </tr>
</table>

<hr />

<div>

    <div>
        <h4>Podanie</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationIdentifier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationIdentifier)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => appDocument.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => appDocument.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </dt>
            <dd class="col-sm-10">
                <table >
                    <tr>
                        <td style="padding:8px;">
                            @Html.DisplayFor(model => model.ApplicationStatus.Name)
                        </td>
                        <td style="padding:8px;">
                            
                     
                                    <img class="small_icon" src="~/images/@ViewBag.IconFilename">
                    

                     
                        </td>
                        
                    </tr>
                </table>
               
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecruitmentIndex)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecruitmentIndex)
            </dd>

          
        </dl>

    </div>

    <div>
        <h4>Kandydat</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => candidate.LoggedUser.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => candidate.LoggedUser.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => candidate.LoggedUser.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => candidate.LoggedUser.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => candidate.Pesel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => candidate.Pesel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => candidate.Gender.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => candidate.Gender.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => candidate.LoggedUser.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => candidate.LoggedUser.Email)
            </dd>
        
        </dl>

    </div>

    <div>
        <h4>Rekrutacaja</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => recruitment.FieldOfStudy.FieldName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => recruitment.FieldOfStudy.FieldName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => recruitment.FieldOfStudy.Faculty.FacultyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => recruitment.FieldOfStudy.Faculty.FacultyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => recruitment.FieldOfStudy.DegreeLevel.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => recruitment.FieldOfStudy.DegreeLevel.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => recruitment.RoundNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => recruitment.RoundNumber)
            </dd>
        </dl>
    </div>

    <div>
        <h4>Matura</h4>
        <hr />

        @if (Model.HighSchoolDiploma == null)
        {
            <h5>Brak dołączonego dokumentu</h5>
            <br />
        }
        else
        {
            <table>
              
                    <tr>
                        <td style="padding:8px;">
                            @Html.DisplayFor(model => Model.HighSchoolDiploma.DocumentFkNavigation.Name)
                        </td>
                        <td>
                        </td>
                        <td style="padding:8px;">
                        <a href="~/documents/@Model.HighSchoolDiploma.DocumentFkNavigation.Name">
                                <img class="small_icon" src="~/images/doc_icon.png">
                            </a>

                        </td>

                    </tr>

            </table>
            <br />



        }

    </div>

    <div>
        <h4>Załączone dokumenty</h4>
        <hr />

        @if(Model.Documents.Count() == 0)
        {
            <h2>Brak dołączonych dokumentów</h2>
        }
        else
        {
            <table>
            @foreach( var doc in Model.Documents)
            {
                
                    <tr>
                        <td style="padding:8px;">
                            @Html.DisplayFor(model => doc.Name)
                        </td>
                        <td>

                        </td>
                        <td style="padding:8px;">
                            <a href="~/documents/@doc.Name">
                                <img class="small_icon" src="~/images/doc_icon.png">
                            </a>
                            
                        </td>

                    </tr>
                

                
            }
            </table>


        }

    </div>









</div>

