@model PO_projekt_implementacja_Puz.ViewModels.ApplicationsIndexViewModel

@{
    ViewData["Title"] = "Podania";
}

<img class="miniature" src="~/resources/possum.jpg">

<h1>Podania</h1>


<form asp-controller="Applications" asp-action="Index" method="post">
    <label for="categoryDropdown">Rok:</label>
    <select name="year" class="form-control" asp-items="@Model.Years"></select>
    <label for="categoryDropdown">Wydział:</label>
    <select name="facultyId" class="form-control" asp-items="@Model.Faculties"></select>
    <label for="categoryDropdown">Kierunek</label>
    <select name="fieldId" class="form-control" asp-items="@Model.FieldsOfStudy"></select>

    <button type="submit">Filter</button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Data złożenia</h3>
            </th>
            <th>
                <h3>Status</h3>
            </th>
            <th>
                <h3>Wydział</h3>
            </th>
            <th>
                <h3>Kierunek</h3>
            </th>
            <th>
                <h3>Kandydat</h3>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

        @if(Model.Applications.Count() == 0)
        {
            <tr>
                <td colspan="7">
                    <h2>Brak podań</h2>
                </td>
            </tr>
            
        }
        else
        {
            @foreach (var item in Model.Applications)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationIdentifier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recruitment.FieldOfStudy.Faculty.FacultyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Recruitment.FieldOfStudy.FieldName)
                    </td>
                    <td>
                        @{
                            var user = item.Candidate.LoggedUser;
                            var nameString = $"{user.FirstName} {user.LastName} - {item.Candidate.Pesel}";
                        }
                        @nameString

                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    </td>
                </tr>
            }


        }



    </tbody>
</table>
