@model IEnumerable<PO_projekt_implementacja_Puz.Models.Application>

@{
    ViewData["Title"] = "Podania";
}

<img class="miniature" src="~/resources/possum.jpg">

<h1>Podania</h1>


<form asp-controller="Applications" asp-action="Index" method="post">
    <label for="categoryDropdown">Select Category:</label>
    <select name="category" class="form-control" asp-items=ViewBag.CategoryList></select>
    <button type="submit">Filter</button>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Id</h3>
            </th>
            <th>
                <h3>Data złożenia</h3>
            </th>
            <th>
                <h3>Status</h3>
            </th>
            <th>
                <h3>Wydział</h3>
            </th>
            <th>
                <h3>Kierunek</h3>
            </th>
            <th>
                <h3>Kandydat</h3>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

       
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationIdentifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Recruitment.FieldOfStudyFkNavigation.FacultyFkNavigation.FacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recruitment.FieldOfStudyFkNavigation.FieldName)
            </td>
            <td>
                    @{
                        var user = item.Candidate.LoggedUserFkNavigation;
                        var nameString = $"{user.FirstName} {user.LastName} - {item.Candidate.Pesel}";
                    }
                    @nameString
                    
            </td>
            <td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
