@model PO_projekt_implementacja_Puz.Models.Question

@{
    ViewData["Title"] = "Question";
}

<form asp-controller="Questionary" asp-action="SaveAnswer" method="post" onsubmit="return validateAnswersForm()">

    <div class="button_list">

        <ul class=" button_list">
        <li>
            <h2>@Model.QuestionContent</h2>
        </li>
        <li class="left">
            <input type="radio" id="answerA" name="answer" value="a" required>
            <label for="answerA">@Model.AnswerA</label><br>
        </li>
            <li class="left">
            <input type="radio" id="answerB" name="answer" value="b" required>
            <label for="answerB">@Model.AnswerB</label><br>
        </li>
            <li class="left">
            <input type="radio" id="answerC" name="answer" value="c" required>
            <label for="answerC">@Model.AnswerC</label><br>
        </li>
            <li class="left">
            <input type="radio" id="answerD" name="answer" value="d" required>
            <label for="answerB">@Model.AnswerD</label><br>
        </li>
        <li>
            <br>
            <input class="large hover" type="submit" value="Dalej">
        </li>
        </ul>

    </div>
  
</form>

<form asp-controller="Questionary" asp-action="PreviousQuestion" method="get">
    <div class="button_list">
        <ul class=" button_list">
            <li>
                <br />
                <input class ="large hover" type="submit" value="Powrót">
            </li>

        </ul>
    </div>
    
</form>


<script>
    function validateAnswersForm() {
        var radioButtons = document.getElementsByName("answer");
        var radioButtonChecked = false;

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                radioButtonChecked = true;
                break;
            }
        }

        if (!radioButtonChecked) {
            alert("Jedna z odpowiedzi musi być zaznaczona");
            return false;
        }

        return true;
    }
</script>
