@model PO_projekt_implementacja_Puz.Models.Question

@{
    ViewData["Title"] = "Question";
}

<h1>Question</h1>

<form asp-controller="Questionary" asp-action="SaveAnswer" method="post">
    <h2>@Model.QuestionContent</h2>


    <input type="radio" id="answerA" name="a" value="a" required>
    <label for="answerA">@Model.AnswerA</label><br>

    <input type="radio" id="answerB" name="a" value="b" required>
    <label for="answerB">@Model.AnswerB</label><br>

    <input type="radio" id="answerC" name="a" value="c" required>
    <label for="answerC">@Model.AnswerC</label><br>

    <input type="radio" id="answerD" name="a" value="d" required>
    <label for="answerB">@Model.AnswerD</label><br>

    <br>
    <input type="submit" value="Submit">
</form>
